# TMDB API Key
EXPO_PUBLIC_MOVIE_API_KEY=your_tmdb_api_key_here

# Appwrite Credential
EXPO_PUBLIC_APPWRITE_PROJECT_ID=64f37a9c00b3bdd5347d
EXPO_PUBLIC_APPWRITE_PROJECT_NAME="My Appwrite Project"
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://appwrite.example.com/v1
EXPO_PUBLIC_APPWRITE_DATABASE_ID=your_database_id_here
EXPO_PUBLIC_APPWRITE_COLLECTION_ID=your_collection_id_here